* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* color variable for toggle theme */
:root {
    --primary-color: #dedede;
    --secondary-color: #262626;
    
}
/* toggle theme css to be used in js */
.dark-theme{
    --primary-color:#262626;
    --secondary-color:#f1eded;
      transition: 0.3s ease-in-out;

}
/* text selection color on whole site */
::selection{
    background-color:  #d5f908;
}

/* body is made flex so that everything is in center */
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--primary-color);
    scroll-behavior: smooth;
    overflow-x: hidden;
}
/* header starts here */
header {
    background-color: var(--secondary-color);
    width: 100vw;

}
/* first class after header */
.navbar {
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
/* title logo of the site */
.nav-branding {
    font-size: 2.5rem;
    color: var(--primary-color);
}
/* navigation menu ul tag */
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

}
/* li tags */
li {
    list-style: none;
    transition: all 0.3 ease-in;
}
/* css class for li tags */
.nav-links {
    display: inline-block;
    position: relative;
    color: var(--primary-color);

}
/* nav links icons fontawesome */
.act{
    background-color: #3DD1E7;
    padding: 10px 12px;
    border-radius: 15px;
}
.fa-house,
.fa-address-card,
.fa-school,
.fa-briefcase,
.fa-address-book{
    padding-right: 10px;
    text-align: center;

}
.act:hover{
    background-color: #da0eae;
    transition: 0.3s ease;
    padding: 10px 12px;
    border-radius: 15px;
}
.act1:hover{
    background-color: #da0eae;
    transition: 0.3s ease;
    padding: 10px 12px;
    border-radius: 15px;
}
.act2:hover{
    background-color: #da0eae;
    transition: 0.3s ease;
    padding: 10px 12px;
    border-radius: 15px;
}
.act3:hover{
    background-color: #da0eae;
    transition: 0.3s ease;
    padding: 10px 12px;
    border-radius: 15px;
}
.act4:hover{
    background-color: #da0eae;
    transition: 0.3s ease;
    padding: 10px 12px;
    border-radius: 15px;

}
/* .nav-links:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: orangered;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-links:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-links {
    transition: 0.3s ease;
} */
/* nav links(li) ends here */

/* anchor tags for li links */
a {
    color: white;
    text-decoration: none;

}
/* sun and moon icons css */
#icon {
    width: 30px;
    cursor: pointer;
   
}
/* hamburger menu icon and css */
.Hamburger {
    display: none;
    cursor: pointer;
}
/* span tag class for three bar lines of hamburger */
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
/* media query for hamburger and responsive navbar  */
@media(max-width:768px) {
    .Hamburger {
        display: block;

    }

    .Hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .Hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .Hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s ease;
        background-color: var(--secondary-color);

    }

    .nav-items {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }

}

/* main section starts & nav Ends here */

.container {

    display: flex;
    /* max-width: 1100px; */
    margin: 25px 40px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    /* box-sizing: border-box; */
    padding: 40px 30px;
}
/* marquee tag class */
.mark {

    color: var(--secondary-color);
}
/* info section title and subtitle buttons */
.infos {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* width: 50%; */
    flex-wrap: wrap;

}
/* my name  */
.title {
    font-size: 72px;
    opacity: 0.8;
    color: var(--secondary-color);
}
/* what i do */
.subtitle {
    font-family: 2rem;
    font-weight: 700;
    margin-top: 10px;
    color: var(--secondary-color);
}
.container h2{
    color: var(--secondary-color);
}
/* two buttons of hire me and download cv */
.button {
    padding: 11px;
    font-size: 15px;
    background-color: #62bdfc;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
    margin-top: 15px;

}
.button:hover {
    background-color: cornflowerblue;
}

.buttons {
    margin-top: 10px;
    display: flex;
    gap: 50px;
}

/* btn is the class of the two buttons*/
.btn {
    background-color: #3DD1E7;
    border: 0 solid #E5E7EB;
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    text-align: center;
    /* text-decoration: none #000000 solid; */
    cursor: pointer;
    transform: rotate(-2deg);
}


.btn:focus {
    outline: 0;
}

.btn:after {
    content: '';
    position: absolute;
    border: 1px solid var(--secondary-color);
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
}

.btn:hover:after {
    bottom: 2px;
    left: 2px;
}
/* media query for container responsiveness */

@media (max-width: 768px) {
    .btn {
        padding: 5px 6px;
        font-size: 15px;
    }

    .buttons {
        display: flex;


        max-width: 60px;
    }

    .title {
        margin: 10px;
        font-size: 50px;
    }

    .subtitle {
        margin-top: 25px;

        font-weight: 700;
    }

    .container {
        min-width: 150px;
        padding: 15px;
        flex-wrap: wrap;

        margin: 0;

    }


    .infos {
        justify-content: center;
        align-items: baseline;
    }

    h2 {
        font-size: 13px;
        line-height: 1.5;
    }

    .nav-menu {
        z-index: 1;
        opacity: 0.8;
        background-color: #244e54;
    }
    .right {
        max-width: 200px;
        margin-top: 50px;

    }

}

.ruler {
    color: #da0eae;
    width: 80%;
    height: 4px;
    background-color: #da0eae;
    border-radius: 10px;
}

hr {
    background-color: orangered;
    width: 50%;

    color: orangered;

}
/* main section about me starts here */

main {
    width: 80vw;
    /* background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%); */

    box-sizing: border-box;
    /* margin: 25px 40px; */
    /* padding-top: 120px; */


}

.main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px;


}
/* left section with profil img */
.left {
    flex-basis: 45%;
    padding-right: 15px;
    padding-left: 15px;

}
/* right section with brief summary */

.right {

    flex-basis: 50%;

    line-height: 1.5;
    color: var(--secondary-color);
}

.right h1 {
    font-size: 3rem;
    padding: 10px;
}
/* social links icons  */
.social-links {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 20px;
    padding: 10px;
    margin-top: 25px;


}

.social-links a {
    color: var(--secondary-color);
}

.fa-brands,
.fa-regular {



    /* border: 1px solid brown; */
    border-radius: 50%;
    cursor: pointer;
    font-size: 30px;


}

.fa-regular:hover {
    color: rgb(208, 25, 25);
}

.fa-linkedin:hover {
    color: #0077b5;
}

.fa-twitter:hover {
    color: #00acee;
}

.fa-instagram:hover {
    color: #da0eae;
}

.fa-github:hover {
    color: #0a0a0a;
}

/* .linkedin {
    background: #0E76A8;
    border-radius: 10px;
    color: #fff;
    border-style: solid;
    border-color: #084461;
    padding: 12px;
    margin-top: 25px;
    ;
} */

.profile-pic {
    border-radius: 20px;
}

/* .services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

} */

/* .services .serv{
    text-align: center;
} */

/* education section starts here */
.Education {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80vw;
    margin-top: 120px;
    align-items: center;
    justify-content: space-between;
    /* background-color: #fcf001;  */
    background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 5px 3px var(--secondary-color);

}

.Education h1 {
    margin: 20px;
}

.clg,
.school-12,
.school-10 {
    display: flex;
    align-items: center;
    gap: 5px;
    /* border: 1px solid greenyellow; */
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    line-height: 1.7;
    background-color: white;
    box-shadow: 4px 0 5px 3px orangered;
}

/* skills section starts here */
.skills-section {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    /* width: 90vw */

}
.skills-section h2 {
    font-size: 50px;
    margin-bottom: 20px;
    color: var(--secondary-color);
}
.skills-section h3 {
   
    color: var(--secondary-color);
}

.fontend-tech {
    padding: 5px;
}

/* sill meter card */
.card {
    width: 300px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.skill-text {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 18px;
}

.area {
    padding: 20px;
}

.skill {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.skill-name {
    width: 120px;
    font-size: 16px;
}

.skill-level {
    width: 160px;
    height: 10px;
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 20px;
}

.skill-percent {
    background-color: #333;
    height: 100%;
}

.skill-percent-number {
    margin-left: 20px;
    font-size: 16px;
}


/* projects section starts here */
.projects-section {
    margin-top: 120px;
    text-align: center;
}

.projects-section h2 {
    font-size: 50px;
    text-decoration: underline;
    color: #7f06e9;

}

.projects-section h5 {
    padding: 25px;
    color: var(--secondary-color);
}
/* skill section cards */
.section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    gap: 1.5rem;

}
.text{
    color: var(--secondary-color);

}
.text h3 {
    padding: 15px;
}

.text p {
    padding: 10px;
}
/* contact us section */

/* footer */
.foot {
    /* color: #737373; */
    font-family: "Comfortaa", cursive;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    padding: 2rem;
    background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    margin-top: 100px;
}

.foot a {
    color: #737373;
}

.foot a:hover {
    color: #bfbfbf;
    text-decoration: none;
    transition: all 0.3s linear;
}
/* footer social icons */
.icons {
    padding: 1rem;
}

.icons i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    border-radius: 100%;

    color: var(--secondary-color);
    display: inline-block;
    text-align: center;
    transition: all 0.2s linear;
}

/* @media only screen and(max-width:400px) {
    footer {
        position: relative;
        bottom: 0;
    }
}

@media (max-width: 807px) {
    footer {
        position: relative;
        bottom: 0;
    }
} */