* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* color variable for toggle theme */
:root {
    --primary-color: #dedede;
    --secondary-color: #262626;

}

/* toggle theme css to be used in js */
.dark-theme {
    --primary-color: #262626;
    --secondary-color: #f1eded;
    transition: 0.3s ease-in-out;

}

/* text selection color on whole site */
::selection {
    background-color: #d5f908;
}

/* body is made flex so that everything is in center */
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--primary-color);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* header starts here */
header {
    background-color: var(--secondary-color);
    width: 100vw;

}

/* first class after header */
.navbar {
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

/* title logo of the site */
.nav-branding {
    font-size: 2.5rem;
    color: var(--primary-color);
}
span{
    color:#00fd93;
  
}

/* navigation menu ul tag */
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

}

/* li tags */
li {
    list-style: none;
    transition: all 0.3 ease-in;
}

/* css class for li tags */
.nav-links {
    display: inline-block;
    position: relative;
    color: var(--primary-color);

}

/* nav links icons fontawesome */
.act {
    background-color: #3DD1E7;
    padding: 10px 12px;
    border-radius: 15px;
}

.fa-house,
.fa-address-card,
.fa-school,
.fa-briefcase,
.fa-address-book {
    padding-right: 10px;
    text-align: center;

}

/* hover elements for nav menu */
.act:hover,
.act1:hover,
.act2:hover,
.act3:hover,
.act4:hover {
    background-color: #da0eae;
    transition: 0.3s ease;
    padding: 10px 12px;
    border-radius: 15px;
}

/* nav links(li) ends here */

/* anchor tags for li links */
a {
    color: white;
    text-decoration: none;

}

/* sun and moon icons css */
#icon {
    width: 30px;
    cursor: pointer;

}

/* hamburger menu icon and css */
.Hamburger {
    display: none;
    cursor: pointer;
}

/* span tag class for three bar lines of hamburger */
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

/* media query for hamburger and responsive navbar  */
@media(max-width:768px) {
    .Hamburger {
        display: block;

    }

    .Hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .Hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .Hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s ease;
        background-color: var(--secondary-color);

    }

    .nav-items {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
        z-index: 999;
        opacity: 0.7;
    }
    .nav-branding{
        font-size: 1.5rem;
    }
    .right{
        flex: 0 100%;
    }
    .faq{
       flex: 0 50%;
       margin: 10px;
    }

}
/* main section about me starts here */

main {
    width: 80vw;
    margin-top: 50px;
    background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);

    box-sizing: border-box;
    /* margin: 25px 40px; */
    padding: 30px;


}

.main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px;
    flex: 0 70%;


}
/* added animation for slide in effect on the brief about us section  */
@keyframes slideLeft {
    from {
        transform:translateX(-600px)

    }
    to{
        transform: translateX(0);
    }
    
}
@keyframes slideRight {
    from {
        transform:translateX(800px)

    }
    to{
        transform: translateX(0);
    }
    
}
/* left section with profil img */
.left {
    flex-basis: 45%;
    padding-right: 15px;
    padding-left: 15px;
    animation: slideLeft 1s ease-in 1s 1 normal both;

}
/* .button{
    border: none;
    border-radius: 12px;
    background-color:#04ff64;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 15px;
}
.button:hover{

} */

/* right section with brief summary */

.right {

    flex-basis: 50%;

    line-height: 1.5;
    color: var(--secondary-color);
    animation: slideRight 1s ease-in 1s 1 normal both;
}

.right h1 {
    font-size: 3rem;
    padding: 10px;
}

.know{
    animation: bounce 2s ease-in 1s infinite;
}
/* social links icons  */
.social-links {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 20px;
    padding: 10px;
    margin-top: 25px;
}

.social-links a {
    color: var(--secondary-color);
}

.fa-brands,
.fa-regular {
    /* border: 1px solid brown; */
    border-radius: 50%;
    cursor: pointer;
    font-size: 30px;
    transition: transform 0.3s ease-in 0.1s;
}

/* transition property is applied */
.fa-regular:hover,
.fa-linkedin:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-github:hover {
    color: rgb(208, 25, 25);
    transform: scale(1.4) rotateY(45deg);

}

.fa-linkedin:hover {
    color: #0077b5;
}

.fa-twitter:hover {
    color: #00acee;
}

.fa-instagram:hover {
    color: #da0eae;
}

.fa-github:hover {
    color: #0a0a0a;
}

.profile-pic {
    border-radius: 20px;
}
/* faq section */
section{
   
    margin:0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3DD1E7;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
}
.title{
    font-size: 3rem;
    margin: 2rem 0;
    color: var(--secondary-color);

}
.faq{
    max-width: 900px;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #fff;
    cursor: pointer;
}
.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    
    color:#00acee;
}
.question h3{
    font-size: 1.6rem;
}
.answer{
    max-height: 0;
    overflow: hidden;
    transition:max-height 0.6s ease;
    align-items: center;
    color: var(--secondary-color);
    
}
.answer p{
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.4rem;
}
.faq.active .answer{
    max-height: 300px;

}
.faq.active svg{
    transform: rotate(180deg);
}
svg{

    transition: transform 0.5s ease-in;
    text-align: center;
}
span{
    color:#00fd93;;
    font-weight: 700;
    
}
/* .mwl{
    align-items: center;
    width: 8rem;
} */